* {
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}
.container-fluid {
    width: 80%;
    margin: auto;
}
.topbar {
    background: #f3f3f3;
    font-size: 12px;
    text-align: center;
}
.container-fluid p {
    padding: 4px 0;
    font-weight: 700px;
}
.search-box {
    flex: 1 0 0;
}
.header-mid {
   display: flex;
    align-items: center;
}
.header-mid a img {
    height: 70px;
}
.search-input {
    background: #f5f5f5;
    border: 0 solid white;
    width: 72%;
    height: 50px;
    font-size: 14px;
    border-radius: 0;
    padding: 0 0 0 30px;
}
.wrap-logo {
    padding: 0 0 0 60px;
    flex: 0.3 0 0;
}
.btn-search {
    border: 0 solid white;
    position: absolute;
    top: 60px;
    right: 29%;
    width: 71px;
    height: 44px;
    background: #f5f5f5;
}
/* .search-box .btn-search i {
   opacity: .12;
} */
.search-form {
    position: relative;
}
.header-icon .icon-account {
  color: black;
  font-size: 20px;
}
.header-icon .icon-search a i {
    color: black;
    font-size: 20px;
    margin: 10px;
}
.header-icon .icon-count a i {
    color: black;
    font-size: 20px;
}
.menu-desktop {
    border-top: 1px solid #eee;
    display: flex;
    justify-content: center;
    position: relative;
    border-top: 1 solid #eee;
    width: 100%;
}
.header-icon {
    margin-right: 56px;
}
.mega-menu {
    list-style: none;
    display: flex;
    margin-left: -120px;
}
.mega-menu ul>li>a {
    /* display: block */
    font-size: 14px;
    font-weight: 400;
    /* margin: 0 25px 0 0; */
    position: relative ;
}

.mega-menu li a {
    text-decoration: none;
    color: black;
    margin-left: 20px;
    font-size: 15px;
}
.mega-menu li>a:nth-child(2):hover> .sub-mega {
    display: block;
}
.mega-menu li a:hover {
    color: #f94c43;
}
.mega-menu>li>a:hover {
    color: #f94c43;
    border-bottom: 2px solid red;
}
.mega-menu li:hover> .sub-mega{
    display: block;
}
.mega-menu li:hover>a::before {
    width: 86%;
    transition: all 5s ease-out;
}
.mega-menu li:nth-child(2):hover>a::before {
    width: 12%;
}
.container-sub {
    z-index: 1;
    display: flex;
    width: 100%;
    position: absolute;
    left: 0;
    justify-content: center;
    background: #fff;
    height: 240px;
    padding: 20px 0;
    border-top: 1px solid #efefef;
    box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
}
.container-sub>ul {
    list-style: none;
     width: 25%;
    margin-left: -5%;
} 
.container-sub ul li a{
    list-style: none;
     width: 25%;
}
.container-sub-none{
    display: none;
}
.mega-menu li:hover> .sub-menu {
    display: block;
}
.sub-menu ul {
    list-style: none;
}
.sub-menu {
    background: #fff;
    position: absolute;
    z-index: 999;
    top: 44px;
    height: 32px;
    display: none;
}
.mega-menu li:hover>.container-sub-none {
    display: block;
}
.mega-menu h3 {
    border-bottom: 1px solid #ccc;
    width: 76%;
    padding-bottom: 10px;
}
.row .col-mens-shirt h3 {
    font-size: 18px;
    border-bottom: 1px solid #ccc ;
    width: 40%;
} 
.sub-mega {
    background-color: #fff;
    border-top: 1px solid #efefef;
    box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
    left: 0;
    width: 100%;
    z-index: 9999;
    padding: 20px 0px;
    display: none;
}
.sub-mega .container-sub .row ul  {
    list-style: none;
}



.content {
    padding: 0px 0px 0 150px;
    width: 84%;
    margin-bottom: 50px;
}
.main-content ol {
    background: #f5f5f5;
    display: flex;
    height: 40px;
    padding: 10px 35px;
}
.main-content ol li {
    list-style: none;
    font-size: 14px;
    font-weight: 400;
}
.main-content ol li a {
    text-decoration: none;
    color: #252a2b;
    font-size: 14px;
    font-weight: 400;
}
.box-article-heading h1 {
    font-size: 24px;
    margin: 20px 0;
}
.box-article-heading ul {
    font-size: 13px;
}
.article-pages {
    font-size: 14px;
    color: #252a2b;
}
.title-block h2 {
    font-size: 20px;
    text-transform: uppercase;
    border-bottom: 2px solid #000;
    padding: 20px 0;
    text-align: center;
}
.news-latest {
    width: 25%;
    border: 1px solid #e3e5ec;
    margin-bottom: 40px;
    padding: 25px;
}
.icontent {
    width: 75%;
    float: right;
}
.article-content {
    padding: 25px;
}
.menu-blog {
    width: 25%;
    border: 1px solid #e3e5ec;
}
.group-menu {
    padding: 25px;
}
.post-img {
    width: 30%;
}

.item-article {
    display: flex;
    padding: 15px 0;
}
.item-article .post-content {
    float: left;
    margin-top: -16px;
    padding: 10px;
}
.item-article .post-content h3 a {
    font-size: 14px;
    color: #252a2b;
    text-decoration: none;
}
.layered-content ul {
    list-style: none;
}
.layered-content ul li a {
    text-decoration: none;
    color: #252a2b;
}
.post-content h3 {
    margin: 0;
    line-height: 15px;
}



.top-footer {
    background-color: #f3f3f3;
    padding: 15px;
}
.title-newsletter h4 {
    font-size: 14px;
}
.container-fluid-footer {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1164px;
}
.title-newsletter {
    width: 32%;
    display: flex;
    border-right: 1px solid #f3f3f3;
    margin-left: 80px !important;
    align-items: center;
}
.input-group {
    width: 100%;
    position: relative;
    margin: auto;
}
.top-footer .container-fluid-footer .row .col-1 {
    width: 64%;
    display: flex;
}
.container-fluid-footer .row .col-1 .input-group input {
    width: 100%;
    height: 36px;
    padding: 15px;
    position: relative;
    border: 0px solid #fff;
}
.title-newsletter i {
    margin-right: 10px;
    margin-left: -70px;
    margin-bottom: 9px;
    font-size: 20px;
}
.container-fluid-footer .row .col-1 .input-group button {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 28px;
    height: 35px;
    background: #000;
    font-size: 14px;
}
.button-durk {
    color: #fff;
    border-color: #000;
}
.button-durk::before {
    background: #000;
}
.button::before {
    position: absolute;
    content: '';
    display: block;
    left: -2px;
    top: 0;
    right: -2px;
    bottom: 0;
}
.button:hover {
    color: #fff;
}
.container-fluid-footer .row .col-2 .number-phone p a {
    color: red;
    text-decoration: none;
    margin-left: 5px;
}
.container-fluid-footer .row .col-2 {
    width: 30%;
}
.number-phone {
    margin-left: 50px;
}
.container-fluid-footer .row .col-2 .number-phone p i {
    font-size: 14px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: black;
    color: #fff;
    line-height: 28px;
    text-align: center;
    margin-right: 5px;
}
.container-fluid-footer .row .col-2 .number-phone p {
    font-size: 15px;
    font-weight: 500;
}
.container-fluid-footer .row {
    display: flex;
}
.main-footer {
    padding: 40px 0 30px;
    border-bottom: 1px solid #e7e7e7;
    border-top: 1px solid #e7e7e7;
}
.container-cover {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1300px;
}
.container-cover .row {
    display: flex;
    justify-content: space-around;
}
.footer-content1 .footer-content ul li a {
   text-decoration: none;
   color: #252a2b;
   line-height: 25px;
}
.footer-content1 .footer-content ul li {
    list-style: none;
    font-weight: 500;
}
.footer-content1 .footer-content ul {
    padding-left: 0px;
}
.footer-content1 h4 {
    font-size: 20px;
    margin-bottom: 25px;
}
.footer-content1 .footer-content p {
    font-size: 14px;
    font-weight: 500;
}
.footer-content1 .footer-content p a {
    text-decoration: none;
    color:#252a2b;
}
.footer-content1 .footer-content img {
    width: 180px;
}
.bottom-footer .container-bottom p {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    font-weight: 600;
}

/* Begin register */
#form-register{
    width: 450px;
    height: 600px;
}

a{
    text-decoration: none;
    color: rgb(10, 124, 255);
    cursor: pointer;
}

#form-register .input-group{
    padding: 0 0 20px;
}

.input-group .form-input{
    width: 450px;
    height: 36px;
}

.input-group> label {
    display: block;
    margin-bottom: -5px;
    font-size: 15px;
    font-weight: bold;
}

.input-group .form-submit-btn{
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
    padding: 10px 15px;
    font-size: 20px;
    width: 450px;
}
.form-submit-btn:hover{
    cursor: pointer;
}

.input-group>label>span{
    color: red;
}

img {
    width: 71px;
}

.cart-text {
    text-align: center;
}

.btn-pro {
    background-color: #bc0516;
    color: #fff;
    border: 1px solid #bc0516;
    padding: 10px 15px;
    font-size: 13px;
    width: 200px;
    
}

.btn-pro:hover {
    cursor: pointer;
}

.btn-hover:hover {
    background-color: #9b0917;
}

.sub-nav-pro {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #000;
    font-size: 15px;
    top: 95px;
    padding: 25px 40px;
    right: 35px;
    z-index: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

a:hover .sub-nav-pro {
    display: block;
}

.sub-nav-pro>li {
    text-decoration: none;
    list-style: none;
    color: #000;
}



